.Himg{
    filter: drop-shadow(2px 2px 40px #ffffff51);
    width: 33rem;
}

.animation{
    position: absolute;
    z-index: -1;
}

.custom-content{
    background-color: #0009;
    border-radius: 2rem;
    margin-top: 5.5rem;
    padding: 1rem;
}

@media screen and (max-width:998px){
    .Himg{
        width: 25rem;
    }
}

@media screen and (max-width:896px){
    .custom-flex{
        flex-direction: column;
        row-gap: 5rem;
    }
    .animation{
        height: 100vh;
    }
}

@media screen and (max-width:563px){
    .custom-content{
     width: 80%;   
    }
    .Himg{
        width: 20rem;
    }
}

@media screen and (max-width:397px){
    .Himg{
        width: 15rem;
    }
}